src/myservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wscalc1" targetNamespace="http://localhost:8000/wscalc1" xmlns="http://localhost:3000"
                  xmlns:typens="http://oes.oracle.com/OracleSearch"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema
                xmlns="http://www.w3.org/2001/XMLSchema"
                targetNamespace="http://oes.oracle.com/OracleSearch"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
            <xsd:complexType name='UserList'>
                <xsd:complexContent mixed='false'>
                    <xsd:restriction base='soapenc:Array'>
                        <xsd:attribute wsdl:arrayType='User[]' ref='soapenc:arrayType'/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name='User'>
                <xsd:all>
                    <xsd:element
                            minOccurs='0'
                            name='name'
                            type='xsd:string'/>
                    <xsd:element
                            minOccurs='0'
                            name='map_x'
                            type='xsd:int'/>
                    <xsd:element
                            minOccurs='0'
                            name='map_y'
                            type='xsd:int'/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name='Position'>
                <xsd:all>
                    <xsd:element
                            minOccurs='0'
                            name='x'
                            type='xsd:int'/>
                    <xsd:element
                            minOccurs='0'
                            name='y'
                            type='xsd:int'/>
                    <xsd:element
                            minOccurs='0'
                            name='usuario'
                            type='typens:User'/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name='Map'>
                <xsd:complexContent mixed='false'>
                    <xsd:restriction base='soapenc:Array'>
                        <xsd:attribute wsdl:arrayType='Position[]' ref='soapenc:arrayType'/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>


        </xsd:schema>
    </types>

    <wsdl:message name='GetMapRequest'>
        <wsdl:part name='user' type='xsd:string'/>
    </wsdl:message>

    <wsdl:message name='GetMapResponse'>
        <wsdl:part name='map' type='typens:Map'/>
    </wsdl:message>

    <wsdl:message name='GetUserRequest'>
        <wsdl:part name='name' type='xsd:string'/>
    </wsdl:message>

    <wsdl:message name='GetUserResponse'>
        <wsdl:part name='User' type='typens:User'/>
    </wsdl:message>

    <wsdl:message name='GetUserListRequest'>
        <wsdl:part name="user" type='xsd:string'/>
    </wsdl:message>

    <wsdl:message name='GetUserListResponse'>
        <wsdl:part name='Users' type='typens:UserList'/>
    </wsdl:message>

    <wsdl:portType name="calcP">
        <wsdl:operation name="GetMap">
            <wsdl:input message="GetMapRequest"/>
            <wsdl:output message="GetMapResponse"/>
        </wsdl:operation>

        <wsdl:operation name="GetUser">
            <wsdl:input message="GetUserRequest"/>
            <wsdl:output message="GetUserResponse"/>
        </wsdl:operation>

        <wsdl:operation name="GetUserList">
            <wsdl:input message="GetUserListRequest"/>
            <wsdl:output message="GetUserListResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="Game" type="calcP">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="GetMap">
            <soap:operation soapAction="GetMap"/>
            <wsdl:input>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetUser">
            <soap:operation soapAction="GetUser"/>
            <wsdl:input>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetUserList">
            <soap:operation soapAction="GetUserList"/>
            <wsdl:input>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ws">
        <wsdl:port binding="Game" name="calc">
            <soap:address location="http://localhost:8001/wscalc1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>