src/myservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wscalc1" targetNamespace="http://localhost:8000/wscalc1" xmlns="http://localhost:3000"
                  xmlns:typens="http://oes.oracle.com/OracleSearch"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema
                xmlns="http://www.w3.org/2001/XMLSchema"
                targetNamespace="http://oes.oracle.com/OracleSearch"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
            <xsd:complexType name='UserList'>
                <xsd:complexContent mixed='false'>
                    <xsd:restriction base='soapenc:Array'>
                        <xsd:attribute wsdl:arrayType='User[]' ref='soapenc:arrayType'/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name='InventarioList'>
                <xsd:complexContent mixed='false'>
                    <xsd:restriction base='soapenc:Array'>
                        <xsd:attribute wsdl:arrayType='Item[]' ref='soapenc:arrayType'/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name='User'>
                <xsd:all>
                    <xsd:element
                            minOccurs='0'
                            name='name'
                            type='xsd:string'/>
                    <xsd:element
                            minOccurs='0'
                            name='foto'
                            type='xsd:string'/>
                    <xsd:element
                            minOccurs='0'
                            name='x'
                            type='xsd:int'/>
                    <xsd:element
                            minOccurs='0'
                            name='y'
                            type='xsd:int'/>
                    <xsd:element
                            minOccurs='0'
                            name='view'
                            type='xsd:int'/>
                    <xsd:element
                            minOccurs='0'
                            name='inventario'
                            wsdl:arrayType='Item[]'/>
                    <xsd:element
                            minOccurs='0'
                            name='gold'
                            type='xsd:int'/>
                    <xsd:element
                            minOccurs='0'
                            name='life'
                            type='xsd:int'/>
                    <xsd:element
                            minOccurs='0'
                            name='ataque'
                            type='xsd:int'/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name='Item'>
                <xsd:all>
                    <xsd:element
                            minOccurs='0'
                            name='name'
                            type='xsd:string'/>
                    <xsd:element
                            minOccurs='0'
                            name='imagem'
                            type='xsd:string'/>
                    <xsd:element
                            minOccurs='0'
                            name='ataque'
                            type='xsd:int'/>
                    <xsd:element
                            minOccurs='0'
                            name='cura'
                            type='xsd:int'/>
                    <xsd:element
                            minOccurs='0'
                            name='valor'
                            type='xsd:int'/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name='Position'>
                <xsd:all>
                    <xsd:element
                            minOccurs='0'
                            name='x'
                            type='xsd:int'/>
                    <xsd:element
                            minOccurs='0'
                            name='y'
                            type='xsd:int'/>
                    <xsd:element
                            minOccurs='0'
                            name='usuario'
                            type='typens:User'/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name='Map'>
                <xsd:complexContent mixed='false'>
                    <xsd:restriction base='soapenc:Array'>
                        <xsd:attribute wsdl:arrayType='Position[]' ref='soapenc:arrayType'/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>


        </xsd:schema>
    </types>

    <wsdl:message name='GetMapRequest'>
        <wsdl:part name='name' type='xsd:string'/>
    </wsdl:message>

    <wsdl:message name='GetMapResponse'>
        <wsdl:part name='map' type='typens:Map'/>
    </wsdl:message>

    <wsdl:message name='CreateUserRequest'>
        <wsdl:part name='name' type='xsd:string'/>
        <wsdl:part name='foto' type='xsd:string'/>
    </wsdl:message>

    <wsdl:message name='CreateUserResponse'>
        <wsdl:part name='user' type='typens:User'/>
    </wsdl:message>

    <wsdl:message name='GetUserRequest'>
        <wsdl:part name='name' type='xsd:string'/>
    </wsdl:message>

    <wsdl:message name='AtacarRequest'>
        <wsdl:part name='Atacante' type='typens:User'/>
        <wsdl:part name='Alvo' type='typens:User'/>
        <wsdl:part name='type' type='xsd:string'/>
    </wsdl:message>
    <wsdl:message name='AtacarResponse'>
        <wsdl:part name='Enemy' type='typens:User'/>
    </wsdl:message>

    <wsdl:message name='MoveRequest'>
        <wsdl:part name='Atacante' type='typens:User'/>
        <wsdl:part name='Alvo' type='typens:Position'/>
    </wsdl:message>
    <wsdl:message name='MoveResponse'>
        <wsdl:part name='User' type='typens:User'/>
    </wsdl:message>

    <wsdl:message name='GetUserResponse'>
        <wsdl:part name='User' type='typens:User'/>
    </wsdl:message>

    <wsdl:message name='GetUserListRequest'>
        <wsdl:part name="user" type='xsd:string'/>
    </wsdl:message>

    <wsdl:message name='GetUserListResponse'>
        <wsdl:part name='Users' type='typens:UserList'/>
    </wsdl:message>

    <wsdl:message name='GetInventarioRequest'>
        <wsdl:part name="name" type='xsd:string'/>
    </wsdl:message>

    <wsdl:message name='GetInventarioResponse'>
        <wsdl:part name='Inventario' type='typens:InventarioList'/>
    </wsdl:message>

    <wsdl:message name='AddInventarioRequest'>
        <wsdl:part name="name" type='xsd:string'/>
        <wsdl:part name="item" type='xsd:string'/>
    </wsdl:message>

    <wsdl:message name='AddInventarioResponse'>
        <wsdl:part name='Inventario' type='typens:InventarioList'/>
    </wsdl:message>

    <wsdl:message name='RemoveGoldRequest'>
        <wsdl:part name="name" type='xsd:string'/>
        <wsdl:part name="valor" type='xsd:int'/>
    </wsdl:message>

    <wsdl:message name='RemoveGoldResponse'>
        <wsdl:part name='Gold' type='xsd:int'/>
    </wsdl:message>

    <wsdl:message name='Use_ItemRequest'>
        <wsdl:part name="name" type='xsd:string'/>
        <wsdl:part name="item" type='typens:Item'/>
    </wsdl:message>

    <wsdl:message name='Use_ItemResponse'>
        <wsdl:part name='Life' type='xsd:int'/>
    </wsdl:message>

    <wsdl:portType name="metodos">
        <wsdl:operation name="GetMap">
            <wsdl:input message="GetMapRequest"/>
            <wsdl:output message="GetMapResponse"/>
        </wsdl:operation>

        <wsdl:operation name="GetUser">
            <wsdl:input message="GetUserRequest"/>
            <wsdl:output message="GetUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Atacar">
            <wsdl:input message="AtacarRequest"/>
            <wsdl:output message="AtacarResponse"/>
        </wsdl:operation>

        <wsdl:operation name="Move">
            <wsdl:input message="MoveRequest"/>
            <wsdl:output message="MoveResponse"/>
        </wsdl:operation>

        <wsdl:operation name="CreateUser">
            <wsdl:input message="CreateUserRequest"/>
            <wsdl:output message="CreateUserResponse"/>
        </wsdl:operation>

        <wsdl:operation name="GetUserList">
            <wsdl:input message="GetUserListRequest"/>
            <wsdl:output message="GetUserListResponse"/>
        </wsdl:operation>

        <wsdl:operation name="GetInventarioList">
            <wsdl:input message="GetInventarioRequest"/>
            <wsdl:output message="GetInventarioResponse"/>
        </wsdl:operation>

        <wsdl:operation name="AddInventario">
            <wsdl:input message="AddInventarioRequest"/>
            <wsdl:output message="AddInventarioResponse"/>
        </wsdl:operation>

        <wsdl:operation name="RemoveGold">
            <wsdl:input message="RemoveGoldRequest"/>
            <wsdl:output message="RemoveGoldResponse"/>
        </wsdl:operation>    

        <wsdl:operation name="Use_Item">
            <wsdl:input message="Use_ItemRequest"/>
            <wsdl:output message="Use_ItemResponse"/>
        </wsdl:operation>        
    </wsdl:portType>

    <wsdl:binding name="Game" type="metodos">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="GetMap">
            <soap:operation soapAction="GetMap"/>
            <wsdl:input>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="Atacar">
            <soap:operation soapAction="Atacar"/>
            <wsdl:input>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Move">
            <soap:operation soapAction="Move"/>
            <wsdl:input>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetUser">
            <soap:operation soapAction="GetUser"/>
            <wsdl:input>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="CreateUser">
            <soap:operation soapAction="CreateUser"/>
            <wsdl:input>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetUserList">
            <soap:operation soapAction="GetUserList"/>
            <wsdl:input>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetInventarioList">
            <soap:operation soapAction="GetInventarioList"/>
            <wsdl:input>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="AddInventario">
            <soap:operation soapAction="AddInventario"/>
            <wsdl:input>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="RemoveGold">
            <soap:operation soapAction="RemoveGold"/>
            <wsdl:input>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="Use_Item">
            <soap:operation soapAction="Use_Item"/>
            <wsdl:input>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ws">
        <wsdl:port binding="Game" name="funcoes">
            <soap:address location="http://localhost:8001/wscalc1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>